* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 300px;
  height: 550px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 300px;
  height: 550px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

